<div class="row col-md-12" align="center">
    <a href = "/login" routerLinkActive="active" class="margin">
        <button class="btn btn-success">Log out</button>
    </a>
</div>

<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="input-group marginSearch" align="center">
        <div class="form-outline">
           <input type="search" formControlName="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <button type="button" class="btn btn-primary" type="submit">
         <i class="fa fa-search"></i>
        </button>
    </div>
</form> 

<div *ngIf="!(message === '')" class="alert alert-danger row col-md-4 margin" align="center">
    <strong>{{message}}</strong>
</div>

<div class="row margin" align="center">
    <div class="col-md-4" *ngFor="let item of customers | paginate: { itemsPerPage: 6, currentPage: p }">

        <div class="panel blue">
            <h6 class="col-md-12"> <B>Customer Name:</B> {{item.companyname}}</h6>
        </div>

        <div class="panel white alert">
                <h6 class="col-md-12"> <B>Last Order Date:</B> {{item.lastOrderDate}}</h6>
                <h6 class="col-md-12"> <B>Next Predicted Order:</B> {{item.nextPredictedOrderDate}}</h6>
                <a href ="/orders/{{item.custid}}" routerLinkActive="active" class="margin">
                    <button class="btn btn-danger opacity">View Orders</button>
                </a>

                <a href ="/new/{{item.custid}}" routerLinkActive="active" class="margin">
                    <button class="btn btn-success opacity">New Order</button>
                </a>
        </div>
    </div>
</div>

<pagination-controls (pageChange)="p = $event" class="text" align="center">
    responsive="true"
    previousLabel="Previous"
    nextLabel="Next"
</pagination-controls>

